<form method="post" action="/profile/edit/save">
  <div class="form-group">
    <label for="inputPhoto"><i class="fa fa-camera" aria-hidden="true"></i>  Change Photo:</label>
    <input type="text" name="photo" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter image path.">
  </div>
  <div class="form-group">
    <label for="inputName"><i class="fa fa-child" aria-hidden="true"></i>  Name</label>
    <input type="text" name="name" class="form-control" id="" aria-describedby="emailHelp" placeholder="What is your name?">
  </div>
  <div class="form-group">
    <label for="inputWork"><i class="fa fa-building" aria-hidden="true"></i>  Workplace</label>
    <input type="text" name="work" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter place of work">
  </div>
  <div class="form-group">
    <label for="inputCity"><i class="fa fa-globe" aria-hidden="true"></i></i>  City</label>
    <input type="text" name="city" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter your city of operation">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
