<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Smart Healthcare System</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css/index.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<%- include('partials/navbar') %>

<div class="container-fluid">


  <div class="row">
    <div class="col-md-12">

      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Patient Management System</h1>

        <img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Ps_GreekCross.svg" />

        <p>Login or Register with:</p>


        <a href="/login"><button id="homeBtn" class="btn btn-success">Login</button></a>
        <a href="/signup"><button id="homeBtn" class="btn btn-success">Signup</button></a>
      </div>
    </div>
  </div>

</div>

<footer>
  <%- include('partials/footer') %>
</footer>

</body>
</html>
