<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Smart Healthcare System</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>

  <link rel="stylesheet" href="../../../../css/newPatient.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">

  <script src="../../../../js/newPatient.js"></script>
</head>

<body>

<%- include('partials/navbar') %>

<div class="container-fluid">

<h1 class="page-header text-center">New Patient</h1>

<form method="post" action='/profile/patients/add' id="saveForm">

  <div class="form-group">
  <label for="comment">Name:</label>
  <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp" >
  </div>

  <div class="form-group">
  <label for="comment">Age:</label>
  <input type="number" name="age" class="form-control" id="age" aria-describedby="emailHelp" >
  </div>

  <div class="form-group">
  <label for="comment">Address:</label>
  <input type="text" name="address" class="form-control" id="address" aria-describedby="emailHelp" >
  </div>

  <div class="form-group">
  <label for="comment">Gender:</label>
  <input type="text" name="gender" class="form-control" id="gender" aria-describedby="emailHelp" >
  </div>

  <div class="form-group">
  <label for="comment">Phone Number:</label>
  <input type="number" name="phone" class="form-control" id="phone" aria-describedby="emailHelp" >
  </div>

</form>

<button type="submit" id="form-btn" class="btn btn-success">Submit</button>

</div>

<footer>
  <%- include('partials/footer') %>
</footer>

</body>
</html>
