$height-footer: 60px;

html {
  min-height: 100%;
  position: relative;


  body {
    margin-bottom: $height-footer;
    font-family: 'Open Sans', sans-serif;
  }

  img {
    height: 150px;
  }

  @media  (min-width: 519px) and (max-width: 1300px) {
    img {
      height: 200px;
    }
  }

  @media  (min-width: 760px) and (max-width: 1300px) {
    img {
      height: 250px;
    }
  }

  #homeBtn {
    color: #000;
    height: 50px;
    width: 100px;
  }

  #homeBtn:hover {
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(102, 187, 106, 0.9);
  }

  @media  (min-width: 380px) and (max-width: 519px) {
    #homeBtn {
      height: 50px;
      width: 100px;
      font-size: 18px;
    }
  }

  @media  (min-width: 520px) and (max-width: 1600px) {
    #homeBtn {
      height: 75px;
      width: 150px;
      font-size: 26px;
    }
  }

  //=============NAVBAR=========================================================

  #navStyle {
    background-color: #66bb6a;
    color: #000;
  }

  #mainNavStyle{
    color: #000;
  }

  #navLiStyle{
    color: #000;
  }

  #navLiStyle:hover{
    color: rgba(0, 0, 0, 0.5);
  }

  #toggleBtnStyle {
    background-color: #000;
  }

  //=======FOOTER==============================================================


  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    background-color: #f5f5f5;
    .footer-block {
      margin: 20px 0;
    }

  }
}
