$height-footer: 60px;

html {
  min-height: 100%;
  position: relative;


  body {
    margin-bottom: $height-footer;
    font-family: 'Open Sans', sans-serif;
  }

  //=============NAVBAR=========================================================

  #navStyle {
    background-color: #66bb6a;
    color: #000;
  }

  #mainNavStyle{
    color: #000;
  }

  #navLiStyle{
    color: #000;
  }

  #navLiStyle:hover{
    color: rgba(0, 0, 0, 0.5);
  }

  #toggleBtnStyle {
    background-color: #000;
  }

  //======================================

  #userDetails{
    list-style-type:none;
    padding: 0px;
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  #userDetails li{
    font-size: 22px;
}

  #editBtn, #logoutBtn {
    color: #000;
    font-weight: 400;
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 100px;
    font-size: 18px;
  }

  #logoutBtn {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  #editBtn:hover, #logoutBtn:hover {
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(102, 187, 106, 0.9);
  }

  @media  (min-width: 520px) and (max-width: 1600px) {
    #editBtn, #logoutBtn {
      height: 75px;
      width: 150px;
      font-size: 26px;
    }
  }

  #patientTag{
    display: inline-block;
    font-size: 22px;

  }

  #pNumber{
    font-size: 26px;
    font-weight: 800;
    margin-top: 40px;
  }

  #patientLink {

    text-decoration: none; /* no underline */
    color: #000;
  }

  #patientLink:hover {
    text-decoration: none; /* no underline */
    color: #5cb85c;
  }

  #profiler{
    display: block;
    margin: 0 auto;
  max-width:230px;
  height: 100px;
  width: auto;
  height: auto;
  border: 1px solid;
  }

  #imageSection{
    padding: 0px;
  }

  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    background-color: #f5f5f5;
    .footer-block {
      margin: 20px 0;
    }

  }
}
